html {
  margin: 0px;
  background-color: white;
}


/*-----------------------------------------------------------------------------------------*/
/*---- Body Style -------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
#Framework {
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
}

#LogoImage {
  margin-top: 100px;
  width: 600px;
  height: auto;
}