html {
  margin: 0px;
  background-color: white;
}


/*-----------------------------------------------------------------------------------------*/
/*---- Body Style -------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
#HomeBtn {
  width: 75px;
  height: auto;
  margin-top: 10px;;
  margin-left: 10px;
}

#Framework {
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
}

/*** Instruction Part ************/
#InsturctionMessage {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight:bold;
}

#InstructionDescription {
  margin-bottom: 40px;
  font-size: 25px;
}

#LogoImage {
  margin-top: 100px;
  width: 600px;
  height: auto;
}

/*** Inputs Part ************/
#InputArea {
  text-align: center;
}

#EmailInstruction {
  font-size: 30px;
  font-weight:bold;
}

#EmailInput {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 40px;

  padding: 3px;
  font-size: 23px;
}

#EmailSubmitBtn{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 185px;
  height: 60px;
  border-radius: 10px;
  font-size: 23px;

  background-color: #3498db;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

#EmailSubmitBtn:hover {
  background-color: black;
}
